<div id="background-container">
    <div id="background">
    </div>
</div>

<div id="all-container">
    <div class="row">
        <div class="col-sm-12 col-md-6 d-flex justify-content-center">
            <div id="ticket" class="">
                <div class="flex-column justify-content-center">
                    <p id="boleta" class="d-flex justify-content-center">Boleta de pago</p>
                    <p id="mesa" class="d-flex justify-content-center">Mesa 1</p>
                    <div class="line"></div>
                </div>
                <div class="flex-column justify-content-center" style="padding: 50px;">
                    <div class="item">
                        <div>Tequeños</div>
                        <div class="separator"></div>
                        <div>S/10.00</div>
                    </div>
                    <div class="item">
                        <div class="left">Ceviche</div>
                        <div class="separator"></div>
                        <div class="right">S/10.00</div>
                    </div>
                    <div class="item">
                        <div class="left">Mazamorra</div>
                        <div class="separator"></div>
                        <div class="right">S/10.00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-center">
            <div id="aditional-info" class="flex-column justify-content-center">
                <div class="total-pagar">
                    <p>Total a pagar</p>
                    <div class="parallelogram-wrapper">
                        <div class="parallelogram">
                        </div>
                        <div class="parallelogram-text">
                            S/20.00
                        </div>
                    </div>
                </div>
                <div class="metodo-pago">
                    <p>Método de pago</p>
                    <div class="botones">
                        <div class="df-button">Tarjeta</div>
                        <div class="df-button">Efectivo</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>