#background {
    position: relative;
    border-radius: 100%;
    height: 3000px;
    width: 3000px;
    left: calc(-3000px + 50%);
    top: calc(50% - 1500px + 32px);
    background-color: #E3DEE1;
    z-index: -1;
}

#background-container {
    color: #3d0d0d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#all-container {
    margin-top: 64px;
    max-width: 100%;
    overflow-x: hidden;
}

#ticket {
    width: 80%;
    padding: 50px;
    z-index: 2;
    /* background-color: #ff0000; */
}

#aditional-info {
    width: 80%;
    padding: 50px;
    /* background-color: aqua; */
    min-height: min(500px);
    /* font-weight: 900; */
}

#boleta {
    font-weight: 800;
    font-size: 2.0em;
}

#mesa {
    font-weight: 600;
    font-size: 1.5em;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #3d0d0d;
    margin-top: 30px;
    margin-bottom: 10px;
}

.item {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
}


.separator {
    margin: 0 10px 3px;
    flex-grow: 1;
    border-bottom: dotted 1px black;
}

.total-pagar {
    font-weight: 900;
    font-size: 1.5em;
    height: 50%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.metodo-pago {
    font-weight: 800;
    font-size: 1.5em;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    pointer-events: auto;
}

.df-button {
    background-color: #E5383B;
    border-radius: 15px;
    font-weight: 400;
    width: 140px;
    height: 50px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
}

.parallelogram-wrapper {
    margin: 0.5rem 0;
    position: relative;
    height: 40px;
    width: 100%;
}

.parallelogram {
    margin: auto;
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #F26466;
    height: 40px;
    width: 200px;
}

.parallelogram-text {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    border-radius: 0px;
    position: absolute;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}