<div class="order-details">
    <div class="title">
        <h1> Orden - Mesa {{1}}</h1>
    </div>
    <div class="categories">
        <div class="category">
            <p> Entradas: </p>
            <div class="products">
                <div>
                    <p> Tequeños </p>

                    <p> S/ 0.00</p>
                </div>
            </div>
        </div>
        <div class="category">
            <p> Platos Principales: </p>
            <div class="products">
                <div>
                    <p> Tequeños </p>

                    <p> S/ 0.00</p>
                </div>
            </div>
        </div>
        <div class="category">
            <p> Bebidas: </p>
            <div class="products">
                <div>
                    <p> Tequeños </p>

                    <p> S/ 0.00</p>
                </div>
            </div>
        </div>
        <div class="category">
            <p> Postres: </p>
            <div class="products">
                <div>
                    <p> Tequeños </p>

                    <p> S/ 0.00</p>
                </div>
            </div>
        </div>
    </div>
</div>