.order-details {
    flex-grow: 0.9;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--backgroundSecondary);
    max-height: 85vh;
    overflow-y: scroll;
}

.title {
    width: 85%;
    margin: 0rem auto;
    padding: 0.5rem 0;
    border-bottom: 1px dotted #000;
    text-align: center;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000;
    margin: 0;

}

.categories {

    width: 85%;
    margin: 0.5rem auto;
}

.category>p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.75rem;

}

.products {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.products>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.products>div:active {
    background-color: var(--backgroundSecondary);
}

.products>div>p {
    font-size: 1rem;
}