<div class="dining_table">
    <div class="dining_table_info">
        <h1>
            {{table.nroMesa}}
        </h1>
        <div class="dining_table_state">
            <div class="dining_table_number">
                <h4> Dining Table</h4>
            </div>

            <p *ngIf="table.estadoMesa === TableState.Waiting"> {{table.estadoMesa}} {{display}} </p>
            <p *ngIf="table.estadoMesa !== TableState.Waiting"> {{table.estadoMesa}} </p>
        </div>
    </div>
    <div class="dining_table_order">
        <div *ngIf="table.estadoMesa === TableState.Empty" class="button_group">
            <button [routerLink]="['/waitress/take-order/', table.idMesa ]"> Tomar orden</button>
        </div>

        <div *ngIf="table.estadoMesa === TableState.Waiting" class="button_group">
            <button (click)="toggleOrder(false)"> {{showOrderButtonText}} </button>
            <button (click)="orderServed()"> Orden Servida </button>
        </div>
        <div *ngIf="table.estadoMesa === TableState.Served" class="button_group">
            <button (click)="toggleTableState(TableState.Waiting)"> Deshacer </button>
            <button [routerLink]="['/waitress/pay-order/', table.idMesa]"> Pago </button>
        </div>
    </div>
</div>
<app-summary-order *ngIf="isOrderShowed" [table]="table" (hideOrderEv)="toggleOrder($event)"></app-summary-order>