<div class="dining_table">
    <div class="dining_table_info">
        <h1>
            {{number}}
        </h1>
        <div class="dining_table_state">
            <p> Dining Table {{state}} </p>
            <p *ngIf="state === WAITING"> {{display}} </p>
        </div>
    </div>
    <div class="dining_table_order">
        <button *ngIf="state === EMPTY" (click)="orderTaked()"> Take order </button>
        <div *ngIf="state === WAITING">
            <button (click)="showOrder()"> Show order </button>
            <button (click)="orderServed()"> Order served </button>
        </div>
        <button *ngIf="state === SERVED" (click)="payOrder()"> Payment </button>
    </div>
</div>