<div class="dishes">
  <div class="filters">
    <div class="filter_selector">
      <h4> Filtrar por </h4>
      <mat-form-field appearance="fill">
        <mat-label> Atributo </mat-label>
        <mat-select [(ngModel)]="filter" name="attribute">
          <mat-option *ngFor="let pa of productAttributes" [value]="pa.value">
            {{pa.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="filter === 'nombreComida'">
        <input type="text">
      </div>
      <div *ngIf="filter === 'precio'">

      </div>
    </div>
  </div>
  <div class="product">
    <button mat-raised-button color="primary" (click)="openDialog()"> Agregar un nuevo producto </button>
    <div class="products_container">

      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
  </div>

</div>