<!--<p>dishes works!</p>-->
<div class="col-md-4" >
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      Nombre Comida
      <button class="btn btn-danger">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img class="card-img-top" src="https://static-sevilla.abc.es/media/gurmesevilla/2012/01/comida-rapida-casera.jpg">
    <div class="card-body">
      <p>Precio</p>
      <p>Costo</p>
      <p>Categoria</p>
      
    </div>
  </div>
  <a href="/admin/dishes/newdish" class="btn btn-info btn-block">
    NEW DISH
  </a>
</div>
