<div (click)="removeOrder()" class="pending-order">
    <div class="pending-order-title">

        <div class="dining_table_state">
            <h2> {{ order.nombreComida }} </h2>
        </div>
    </div>

    <div>
        <ng-template [ngIf]="order.imagen" [ngIfElse]="noImage">
            <img class="pending-order-image" [src]="order.imagen" [alt]="'Imagen de un plato de ' + order.nombreComida">

        </ng-template>

        <ng-template #noImage>
            <img class="pending-order-image" src="../../../../assets/products/standard_food.png"
                [alt]="'Foto de un plato de ' + order.nombreComida">
        </ng-template>

    </div>
    <div class="pending-order-table-wrapper">
        <div class="pending-order-parallelogram">
        </div>
        <div class="pending-order-table-text">
            Mesa {{order.idMesa}}
        </div>
    </div>

    <div class="pending-order-info-wrapper">
        <div>

            <div class="pending-order-timer">🕓 {{DisplayedTime}} </div>
        </div>
    </div>
</div>