.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.modal {
    display: flex;
    z-index: 99999;
    background-color: var(--backgroundTabActive);
    border-radius: 0.5rem;
    text-align: center;
    width: 30%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 15% 35%;
    animation: fadeIn 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
}

.message {
    padding: 0.5rem;
}

@keyframes fadeIn {
    0% {
        margin: 0% 35%;
    }

    90% {
        margin: 16% 35%;
    }

    100% {
        margin: 15% 35%;
    }
}

.modal>div img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.modal>div {
    width: 100%;
}

button {
    width: 75%;
    height: 50px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}