<div class="economy">
    <div class="grouped-horizontal-bar-chart">
        <div class="title">
            <h2> Pedidos atendidos y dinero ganado en el año</h2>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label> Año </mat-label>
                <input matInput type="number" class="example-right-align" (change)="onYearChanges()" placeholder="2022"
                    [(ngModel)]="year">

            </mat-form-field>
        </div>
        <div class="chart">
            <ngx-charts-bar-vertical-2d [view]="[1200, 600]" [results]="dataChart" [xAxis]="true" [yAxis]="true"
                [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxisLabel]="barVerticalChartOptions.xAxisLabel" [yAxisLabel]="barVerticalChartOptions.yAxisLabel"
                [legendTitle]="barVerticalChartOptions.legendTitle" (select)="onSelect($event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
    <div class="line-chart">
        <div class="title">
            <h2> Pedidos atendidos y dinero ganado en el mes </h2>
            <mat-form-field appearance="fill">
                <mat-label> Mes </mat-label>
                <mat-select [(ngModel)]="month" name="Enero">
                    <mat-option *ngFor="let m of monthNames" [value]="m.value">
                        {{m.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="chart">
            <ngx-charts-line-chart [view]="[1200, 600]" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxis]="true" [yAxis]="true" [xAxisLabel]="lineChartOptions.xAxisLabel"
                [yAxisLabel]="lineChartOptions.yAxisLabel" [timeline]="true" [results]="lineChartData"
                [legendTitle]="lineChartOptions.legendTitle" (select)="onSelect($event)" (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
        </div>
    </div>
    <div class="top-products">

    </div>
</div>