<div class="economy">
    <div class="grouped-horizontal-bar-chart">
        <div class="title">
            <h2> Pedidos atendidos e ingreos generados en el año</h2>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label> Año </mat-label>
                <input matInput type="number" class="example-right-align" (change)="onYearChanges()" placeholder="2022"
                    [(ngModel)]="year">

            </mat-form-field>
        </div>
        <div class="chart">
            <ngx-charts-bar-vertical-2d [view]="[1200, 600]" [results]="dataChart" [xAxis]="true" [yAxis]="true"
                [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxisLabel]="barVerticalChartOptions.xAxisLabel" [yAxisLabel]="barVerticalChartOptions.yAxisLabel"
                [legendTitle]="barVerticalChartOptions.legendTitle" (select)="onSelect($event)"
                (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d>
        </div>
    </div>
    <div class="line-chart">
        <div class="title">
            <h2> Pedidos atendidos e ingreos generados en el mes </h2>
            <mat-form-field appearance="fill">
                <mat-label> Mes </mat-label>
                <mat-select [(ngModel)]="month" name="Enero" (selectionChange)="select($event.value)">
                    <mat-option *ngFor="let m of monthNames" [value]="m.value" [disabled]="m.value > maxMonth">
                        {{m.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="chart">
            <ngx-charts-line-chart [view]="[1200, 600]" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxis]="true" [yAxis]="true" [xAxisLabel]="lineChartOptions.xAxisLabel"
                [yAxisLabel]="lineChartOptions.yAxisLabel" [timeline]="true" [results]="lineChartData"
                [legendTitle]="lineChartOptions.legendTitle" (select)="onSelect($event)" (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
        </div>
    </div>
    <div class="top-products">
        <h1> Top Productos más vendidos por categoría </h1>
        <div class="top-products__categories">
            <div>
                <p> Entradas </p>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            No.
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombreComida">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Nombre
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreComida}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Cantidad
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div>
                <p> Platos Principales </p>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            No.
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombreComida">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Nombre
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreComida}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Cantidad
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div>
                <p> Bebidas </p>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            No.
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombreComida">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Nombre
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreComida}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Cantidad
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div>
                <p> Postres </p>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            No.
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombreComida">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Nombre
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreComida}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Cantidad
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

    </div>
</div>