.custom-form {
    min-width: 350px;
    max-width: 30%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #262a2d;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

img {
    position: absolute;
    top: 0px;
    width: 100px;
    border: 6px solid #fff;
    border-radius: 50%;

}

.form-input {
    margin: 0.5rem 0;
}

.mt {
    margin-top: 1.75rem;
}

.form-title {
    color: #fff;
    font-size: 1.5rem;
}

.form-description {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
}

.form-input input {
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.5rem;
    border: 0 none;
    background: #ebf5fc;
}

.custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background-color: #ab2732;
    width: 100%;
    display: block;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.custom-form button:hover {
    background-color: #ad3943;
}

.form-footer {
    width: 100%;
    text-align: center;
    color: #fff;
}

.form-footer p {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;
}

.error {
    color: #f33848;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.5rem 0 0.25rem 0;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    .custom-form {
        min-width: 100%;
        padding: 1rem;
    }

    .mt {
        margin-top: 2.5rem;
    }
}