.take-order {
    display: flex;
    flex-direction: column;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: 85vh;
    justify-content: space-between;
}

.buttons {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.75rem;
    flex-grow: 0.20;
}