<div class="take-order container-fluid">
    <div class="productos">
        <app-menu-panel style=" flex-grow: 1" (pedido)="getFoodPicked($event)"></app-menu-panel>
        <app-order-details style=" flex-grow: 0.5;
        margin-left: 1rem; max-width: 300px;" [saving]="savingOrder " [tableNumber]="tableNumber" [pedido]="pedido">
        </app-order-details>
    </div>
    <div class="w-100 d-flex flex-row row buttons">
        <button class="col-5" mat-raised-button (click)="openDialog()"> Salir sin guardar </button>
        <button class="col-5" mat-raised-button (click)="saveOrder()">Guardar y Salir </button>
    </div>
</div>